<!DOCTYPE html>
<html>
{% extends 'apps/main.html' %}
{% load static %}
{% block content %}
<head>
	<title>Shopkart | Products</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static "css/prdt.css" %}">
<body>
	<section style="height: 150vh">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="mb-3" style="margin-top: 130px;">{{catagory_name}} Products</h1>
					<hr style="border-color: #b8bfc2;">
				</div>
				{% for item in products %}
				<div class="col-md-4 col-lg-3">
					<div class="card my-3">
						<img src="{{item.product_image.url}}" alt="Products">
						<a href="{% url 'product_details' catagory_name item.name %}">
						<div class="card-body">
							<h5 class="card-title text-primary">{{item.name}}</h5>
							<p class="card-text"><span class="old_price"><s>Rs.{{item.old_price | stringformat:'d'}}</s></span>
							<span class="selling_price">Rs.{{item.selling_price | stringformat:'d'}}</span></p>
						</div>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</body>
{% endblock content %}
</html>