<!DOCTYPE html>
<html>
{% extends 'apps/main.html' %}
{% load static %}
{% block content %}
<head>
	<title>Shopkart | Products</title>
</head>
<link rel="stylesheet" type="text/css" href="{%static "css/colt.css"%}">
<body>
	<section class="bg-light py-4 my-5" style="height:70vh">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="mb-3 mt-3">{{products | upper}} Details</h1>
					<hr style="border-color: #b8bfc2;">
				</div>
				<nav aria-label="breadcrumb">
  				<ol class="breadcrumb">
    				<li class="breadcrumb-item"><a href="/Home">Home</a></li>
    				<li class="breadcrumb-item"><a href="{% url 'collections' products.catagory.name %}">collections</a></li>
    				<li class="breadcrumb-item active" aria-current="page">{{products}}</li>
  				</ol>
				</nav>
				<div class="col-4 my-3 pic-box">
					{% if products.trending > 0 %}
					<div class="hot">Hot</div>
					{% endif %}
					<img style="width: 100%" src="{{products.product_image.url}}" class="card-image-top" alt="{{products}}">
				</div>
				<div class="col-8 my-3">
					<h5>{{products}}</h5>
					<p>{{products.vendor}}</p>
					<p>{{products.description}}</p>
					<h6 class="text-danger">Current Price: RS.<s>{{products.old_price | stringformat:'d'}}</s></h6>
					<h5 class="text-primary">Offer Price: Rs.{{products.selling_price | stringformat:'d'}}</h5>
					<div class="my-3">
						{% if products.quantity > 0 %}
						<div class="col-3 mb-3">
							<div class="input-group">
								<button class="input-group-text text-light bg-success" id="btnMinus"><i class="fa fa-minus"></i></button>
								<input type="text" name="qty" id="txtQty" value="1" class="form-control text-center">
								<button class="input-group-text text-light bg-success" id="btnPlus"><i class="fa fa-plus"></i></button>
							</div>
						</div>
						<button class="btn btn-primary"><i class="fa fa-shopping-cart"> Add to cart</i></button>
						{% else %}
						<button class="btn btn-secondary"><i class="fa fa-minus"> Out of stock</i></button>
						{% endif %}
						<button class="btn btn-danger"><i class="fa fa-heart"></i></button>
					</div>
				</div>
			</div>
		</div>
	</section>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
	const btnPlus = document.getElementById("btnPlus");
	const btnMinus = document.getElementById("btnMinus");
	const txtQty = document.getElementById("txtQty");

	btnPlus.addEventListener("click", function() {
		let qty=parseInt(txtQty.value,10);
		qty=isNaN(qty)?0:qty;
		if(qty<10){
			qty++;
			txtQty.value=qty;
		}
	});

	btnPlus.addEventListener("click", function() {
		let qty=parseInt(txtQty.value,10);
		qty=isNaN(qty)?0:qty;
		if(qty>1){
			qty--;
			txtQty.value=qty;
		}
	});
});
</script>
</body>
{% endblock content %}
</html>